@use '../_abstract' as *;
@use '../_utils' as *;

div {
    box-sizing: border-box;
    background-color: $color-white;
    padding: 0.25rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    img {
        width: 1.5rem;
        height: 1.5rem;
        &:hover {
            filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(1061%) hue-rotate(139deg) brightness(91%) contrast(84%);
        }
        &[src*="-fill"] {
            filter: invert(44%) sepia(87%) saturate(1573%) hue-rotate(172deg) brightness(102%) contrast(104%) !important;
        }
    }
}

