@use '_abstract' as *;
@use '_utils' as *;

* {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    min-width: fit-content;
    max-width: 100%;
}

body {
    background-color: $color-light-gray;
    @include flex(row, center, flex-start);
}

h1 {
    font-size: $font-paragraph;
}

h2 {
    font-size: $font-subheader;
}

p {
    font-size: $font-paragraph;
}

small {
    font-size: $font-small;
}

aside {
    background-color: $color-white;
    border-right: 2px $color-gray solid;
    width: 100%;
    max-width: max-content;
    min-width: min-content;
    padding: 1.5rem;
    height: 100vh;
    box-sizing: border-box;
    @include flex(column, baseline, flex-start);
    gap: 3rem;
    header {
        @include flex();
        gap: 0.5rem;
    }
    nav {
        @include flex(column, baseline, flex-start);
        gap: 1rem;
        p {
            text-transform: uppercase;
            color: $color-gray;
        }
        ul {
            @include flex(column, baseline, flex-start);
            margin: 0;
            padding: 0;
            gap: 1rem;
        }
    }
}

main {
    width: 100%;
    height: 100vh;
    padding: 1.5rem 4rem;
    box-sizing: border-box;
    overflow-y: scroll;
    @include flex(column, center, flex-start);
    gap: 3rem;
    header {
        width: 100%;
        @include flex(row, center, space-between);
        gap: 1rem;
        span {
            color: $color-gray;
        }
    }

    #heroes {
        width: 100%;
        @include flex(column, center, flex-start);
        gap: 2rem;
        header {
            width: 100%;
            @include flex(row, center, space-between);
        }
        #card-list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "small1 small2 large large" "small3 small4 large large";
            gap: 1rem;
            custom-card {
                width: 100%;
            }
            .large {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
    * {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.search-bar {
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    background-color: $color-white;
    @include flex(row, center, flex-start);
    gap: 0.75rem;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    min-width: fit-content;
    border: 2px $color-white solid;
    img {
        width: 1.5rem;
        height: 1.5rem;
        filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(1061%) hue-rotate(139deg) brightness(91%) contrast(84%);
    }
    input {
        border: none;
        outline: none;
        width: 100%;
    }
    &:has(:focus) {
        border-color: $color-text;
    }
}

.filter {
    text-decoration: none;
    color: $color-gray;
    &-active {
        text-decoration: none;
        color: $color-accent;
    }
}

#players {
    width: 100%;
    @include flex(row, center, space-between);
    gap: 1rem;
    mini-player {
        width: 100%;
        h3 {
            font-size: $font-paragraph;
        }
        p {
            font-size: $font-small;
            color: $color-gray;
        }
    }
}